<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Раскрашивание карты </title>
    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"   />
</head>
<body>
    <div class="container">
        <h1> Генерация ячеек</h1>

        <div class="Error">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="getDict">
            <p>
                Введите словарь для генерации ячеек <br>
                Обязательное условие: количество ключей может быть равно 1 или количеству уникальных значений.
            </p>
            
            <form action="/code", method="POST", enctype="multipart/form-data">
                <textarea name="Dict" 
                placeholder='{
    "Belgium": ["Netherlands", "Germany", "Luxembourg"],
    "Germany": ["Denmark", "Netherlands", "Belgium", "Luxembourg"],
    "Netherlands": ["Germany", "Belgium"],
    "Luxembourg": ["Belgium", "Germany"],
    "Denmark": ["Germany"]
}'></textarea>
            <button type="submit", name="Save">Генерировать</button>
            </form>
        </div>

        <div class="Help">
            <div>Подсказка</div>
            <p>Словарь { "A": ["B", "C"], "B": ["A"] } будет неверным, поскольку в ключах нет элемента C.</p>
        </div>
        <h2>Результат</h2>
        <div class="Images">
            {% for name, path in array %}
                <div class="ImageFor">
                    <p>{{ name }}</p>
                    <img src= "{{ path }}">
                </div>        
            {% endfor %}
        </div>


        <div class="ReturnToMainPage">
            <form action="/code", method="POST", enctype="multipart/form-data">
                <button class="ToMainPage" name="MainPage">Перейти на главную страницу</button>
            </form>
        </div>
    </div>

</body>
</html>