@font-face {
    font-family: 'Segoe Print';
    src: url(/fonts/segoeprint.ttf);
    font-weight: normal;
}

* {
    font-family: 'Segoe Print';
}

.Container {
    width: 1880px;  
}

p, h1, h2 {
    text-align: center;
}

/* Указания примеров */

.Image, .Format {
    display: inline-block;
}

.Example {
    width: 800px;
    height: 550px;
    margin-left: 23px;    
    border: 1px solid #7f7f7f;
}


.Error {
    width: 650px;
    max-height: 180px;
    margin: auto;
    color: red;
    margin-bottom: 30px;
    font-size: 24px;
    border: 1px solid #7f7f7f;
}

ul {
    list-style-type: none;
}

.firstCont {
    margin: auto;
    width: 1000px;
    height: 1000px;
}


.Start, .Options {
    margin: auto;
    margin-top: 20px;
    width: 800px;
    height: 430px;
    border: 1px solid #7f7f7f;
}

.Options {
    height: 450px;
}

.Image, .ExampleImage {
    width: 300px;
    height: 300px;
}

.Image {
    margin-left: 20px;
    height: 350px;
}

.Image p {
    font-size: 20px;
    font-weight: 600;
}

.Format {
    float: right;
    margin-right: 20px;
    margin-top: 60px;
    
    height: 200px;
    width: 350px;
}

.FormatP {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.FormatDescription {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 100;
    border: 1px solid #7f7f7f;
}


/* Область для фотографии */

.Example {
    display: inline-block;
    margin-top: 20px;
}

.ColoredImage {
    height: 300px;
    width: 300px;
    margin-left: 30%;
}

.ImageArea p {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.ImageArea {
    height: 400px;
    width: 700px;
}

button, select {
    display: block;
    margin: auto;

    height: 40px;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
    background-color: wheat;
}

/* Выбор параметров */

.GetOptions {
    width: 700px;
    height: 300px;
    margin: auto;
}

.GetOptions div {
    margin-left: 4%;
    margin-top: 15px;
}

/* Получение цветов и карт*/
.GetColors, .GetWorldPart {
    display: inline-block;
    margin: auto;
    border: 1px solid #7f7f7f;
    width: 300px;
    height: 240px;
}

.GetColors, .GetWorldPart {
    vertical-align: middle;
    width: 300px;
    border:  1px solid #7f7f7f;
}

.LoadFile {
    width: 250px;
    height: 50px;
    margin: auto;
}

.GetColors textarea {
    display: block;
    height: 50px;
    width: 250px;   
    border-radius: 10px;
    margin: auto;
}

.ColorError {
    color: red;
    font-weight: 600;
    width: 250px;
    margin: auto;
    margin-top: -10px;
    border: 1px solid red;
}

.MainButton {
    margin-top: 50px;
}

.Result, .Result850 {
    margin: auto;
    height: 400px;
    width: 1500px;
    border: 1px solid #7f7f7f;
}

.Result850 {
    width: 1050px;
}

.Result div, .Result850 div {
    display: inline-block;
    height: 400px;
    width: 420px;
}

.Result p, .Result850 p {
    font-weight: 600;
    font-size: 20px;
}

.Result img, .Result850 img {
    margin-left: 40px;
    height: 300px;
    width: 400px;
}

.UsedColors {
    margin: auto;
    margin-top: 20px;
    height: 180px;
    width: 300px;
    border: 1px solid #7f7f7f;
}


.ToNewSite {
    margin-top: 20px;
}

.ToNewSite p {
    font-size: 24px;
}

/* Второй HTML */
.container {
    margin: auto;
    width: 800px;
    border: 1px solid #7f7f7f;
}

.ReturnToMainPage, .getDict {
    height: 100px;
    width: 600px;
    margin: auto;
    vertical-align: middle;
}

.getDict {
    height: 350px;
}

.getDict button {
    margin-top: 20px;
}

.getDict textarea {
    display: block;
    height: 170px;
    width: 570px;
    margin:auto;
}

/* Button */
.ToMainPage {
    margin-top: 50px;
    height: 70px;
    width: 250px;
}

.Images {
    margin: auto;
    width: 700px;
    min-height: 300px;
    padding-bottom: 50px;
    border: 1px solid #7f7f7f;
}

.Help {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 30px;
    width: 300px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: wheat;
}


.Help:hover p {
    display: block;
}

.Help div {
    text-align: center;
}

.Help p {
    text-align: center;
    display: none;
}

.ImageFor {
    display: inline-block;
    height: 150px;
    width: 170px;
}

.Images img {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Images p {
    text-align: center;
}