<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Coloring a map </title>
    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
</head>
<body>
    
    <div class="Container">
        <h1> Coloring a map using the greedy algorithm method </h1>
        <div class="Error">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="firstCont">
            <div class="Start">
        
                
                <div class="Image">
                    <p>Sample of the initial map</p> 
                    <img class="ExampleImage"  src="{{ url_for('static', filename='PreparedMaps/3_color_europe_map_all_nodes_codes.png') }}", alt="Образец карты"> 
                </div>
        
                <div class="Format">
                    <p class="FormatP">Format</p>
                    <p class="FormatDescription">
                        The map should consist of 3 colors other than those of the cell:<br />
                        the color of the water, the color of the borders, the color of the countries.<br />
                        <br />
                        Cell colors:<br />
                        Circle: #403F4C (64, 63, 76)<br />
                        Encoding: #FF0000 (255, 0, 0), #00FF00 (0, 255, 0), #0000FF (0, 0, 255)  
                    </p>
                </div>
            </div>

            <div class="Options">

                <h2>Choosing options</h2>
               
                <form action="/", method="POST", enctype="multipart/form-data">
                    <div class="GetOptions">
                        <div class="GetColors">
                            <p>Enter the colors separated by a single space (in english or in hex format)</p>
                            <textarea name="Colors">#F08700 #00A6A6 #5438DC #B24C63 #BBDEF0</textarea> <br />
    
                            {% if error and error=="ColorError" %}
                                <p class="ColorError">
                                    Enter more than 4 colors
                                </p>
                            {% endif %}
                        </div>
    
                        <div class="GetWorldPart">
                            <p>Select the map template</p>
                            <select name="pets" id="pet-select">
                                <option value="UserMap">Own map</option>
                                <option value="Europe">Map of Europe</option>
                                <option value="Fantasy">Fantasy map</option>
                                </select>
                        </div>
                    </div>

                    <div class="LoadFile">
                        
                        <input type="file" value="Загрузить Файл" name="photo"/>
                    </div>

                    <button class="MainButton" name="ColoredButton">Colorize</button>
                </form>   
            </div>
        </div>

        <h2>Result</h2>

        {% if image %}
        <div class="Result">
            
            <div>
                <p>Uploaded map</p>
                <img src="{{ image }} ">
            </div>
            {% if result1 and result2%}
            <div>
                <p> Colorized map </p>
                <img src=" {{result2 }} "> 
            </div>

            <div>
                <p> Map with graph</p>
                <img src=" {{ result1 }} "> 
            </div>
            {% endif %}
        </div>
        
        <div class="UsedColors">
            <p>The number of colors used: {{ UsedColorsCount }}</p>
            <p>The colors used: {{ UsedColors }}</p>
        </div>

        {% else %}
        <div class="Result850">
            {% if result1 and result2%}
            <div>
                <p> Colorized map </p>
                <img src=" {{result2 }} "> 
            </div>

            <div>
                <p>Map with graph</p>
                <img src=" {{ result1 }} "> 
            </div>
            {% endif %}
        </div>
        {% endif %}

        <form class="ToNewSite" method="POST", enctype="multipart/form-data", action="/">
            <p>Go to the cell generation page</p>
            <button name="NewSite">Go over</button> 
        </form>

        </a>
    </div>

</body>
</html>